@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding: 0;
	border: none;

}
body,html{
	height:100%;
}
.wrapper{
	width:100%;
	overflow: hidden;
}
h1{
	font-size: 30px;
	text-transform: uppercase;
	padding: 2% 0 2% 2%;
}
.column{
	float:left;
	overflow: hidden;
	width:16%;
	padding:0 2%;

}
.column img{
	max-width: 100%;
	height: auto;
	width:100%;
}
.column.big{
width:34%;
}
.column.small{
width:18%;
}


.ColHidden .column.small{
	display: none;
}

.ColHidden .column:first-of-type{
	display:none;
}
.ColHidden .column:nth-of-type(2){
	width: 26%;
}
.ColHidden .column + .column + .column{
	width:66%;
}